.header {
  height: 95vh;
  // background-image: linear-gradient(to left, red, blue);
  background-color: red;
  background-size: cover;
  background-position: top;
  position: relative;

  &__logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem;
  }
  &__logo {
    height: 4rem;
  }
  &__title-box {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__year-input {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10rem;
    display: block;
    border: none;
    font-size: 3rem;
    background: rgb(106, 1, 1);
    color: #fff;
    text-align: center;
  }

  &__year-input:focus {
    outline: none;
  }

  &__btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    font-size: 2rem;
    color: rgb(106, 1, 1);
    background: #fff;
  }

  &__btn:focus {
    outline: 0;
  }

  &__answer-display {
    top: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 3rem;
    text-align: center;
    font-family: inherit;
  }
}
